<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAf-RH0NkpmBzqk6GYDrWm-5z20HImZgGc</string>
	<key>GCM_SENDER_ID</key>
	<string>253317892316</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterSocial</string>
	<key>PROJECT_ID</key>
	<string>fluttersocial-1f20c</string>
	<key>STORAGE_BUCKET</key>
	<string>fluttersocial-1f20c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253317892316:ios:ee6ad72594ac1661a68c19</string>
</dict>
</plist>